#content { text-align: center; }
#content h2 { margin-top: 40px; }
#content p { font-size: 1em;} 
#content a.button { margin-top: 20px; margin-bottom: 20px; }
p#opponent_name { font-size: 2em; }
p#character-identifier { font-size: 1.3em; display: inline; margin-left: 10px; margin-right: 10px; }

p#map { font-size: 1.5em; }
.apostrophe { font-weight: bold; color: red; }

#host_won_button { float: left; }
#opponent_won_button { float: right; }

#messages-container { height: 350px; }
#message-input { width: 95%; }
