<!doctype html>
<html lang="en">

<head>
	{>partials.head}
	<title>league6m - Home</title>
</head>
<body>
{>partials.header}
<div class="container">
	<div class="row">
		<div class="twocol"></div>
		<div class="eightcol">
			<div id="content">
				<h2>Introduction</h2>
				<p>League 6m (or l6m for short) is a Starcraft 2 Custom league.
				The big difference between l6m and the battle.net ladder, 
				is the map pool. l6m only features maps of which the bases
				contains 6 minerals and one high yield gas (shorthand 6m1hyg).
				</p>
				<p>
				Read more in-depth about this in the teamliquid thread
				<a href="http://www.teamliquid.net/forum/viewmessage.php?topic_id=321242">Breadth of gameplay</a>.
				</p>
				<h2>How to play</h2>
				<p>First, <a href="/page/login">get an account</a>. Then, register your 
				battle.net character name, character code and character link.
				</p>
			</div>
		</div>
		<div class="twocol last"></div>
	</div>
</div>
</body>
</html>
